.btn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #5e5373;
    position: relative;
    animation-name: circle;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes circle {

    25% {
        color: green;
        left: 0%;
        background-color: bisque;
    }


    50% {
        border-radius: 0%;
        color: yellow;
        background-color:blue;
    }

    100% {
        color: red;
        left: 50%;
        background-color:chocolate;
    }
}